.input-red {
  background-color: white; /* 将输入框的背景颜色设置为白色 */
  color: #c84732; /* 将字体颜色设置为红色 */
  opacity: 1;
  font-size: 20px;
}

.input-white {
  background-color: #c84732; /* 将输入框的背景颜色设置为红色 */
  color: white; /* 将字体颜色设置为白色 */
  font-size: 20px;
}

.Input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  height: 50px;
  width: 90%;
  background-color: #c84732;
  margin: auto;
  border-radius: 8px;
  align-content: center;
}

.Input_button {
  width: 80%;
  height: 40px;
  /* margin-left: 10%; 调整输入框的左边距以使其居中 */
  border-radius: 8px;
  text-align: center; /* 设置文字居中 */
  border: #c84732;
  z-index: 222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.speech-bubble {
  position: absolute;
  bottom: 100px;
  background-color: white; /* 气泡框背景色 */
  color: #4caf50; /* 文字颜色 */
  border-radius: 10px; /* 边框圆角 */
  padding: 10px 20px; /* 内边距 */
  width: 60%;
  z-index: 3;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  top: 100%; /* 气泡框顶部的位置 */
  left: 50%; /* 居中 */
  border: 10px solid transparent;
  border-top-color: white; /* 气泡框背景色 */
  transform: translateX(-50%);
}
/* 遮罩层 */
.mask {
  position: fixed; /* 使遮罩层固定在窗口 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  z-index: 2; /* 确保遮罩层在 Input_box 之上 */
}
/* 媒体查询：适配较小的显示器 */
@media screen and (max-width: 767px) {
  .Input_box {
    width: 50%; /* 在宽度小于等于 767px 的设备上将宽度设置为 90% */
  }
}

/* 媒体查询：适配较大的显示器 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .Input_box {
    width: 60%; /* 在宽度介于 768px 和 991px 之间的设备上将宽度设置为 70% */
  }
}

/* 媒体查询：适配大屏幕显示器 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .Input_box {
    width: 60%; /* 在宽度介于 992px 和 1199px 之间的设备上将宽度设置为 60% */
  }
}

/* 媒体查询：适配超大屏幕显示器 */
@media screen and (min-width: 1200px) {
  .Input_box {
    width: 75%; /* 在宽度大于等于 1200px 的设备上将宽度设置为 50% */
  }
}
